<<<<<<< HEAD
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section1{
  background-color: yellow;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box1{
  background-color: royalblue;
  width: 250px;
  height: 250px;
  border-radius: 20%;
}

.section2{
  background-color: red;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box2{
  background-color: purple;
  width: 250px;
  height: 250px;
  border-radius: 20%;
}
.section3{
  background-color: pink;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box3{
  background-color: goldenrod;
  width: 250px;
  height: 250px;
  border-radius: 20%;
}
=======
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section1{
  background-color: yellow;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box1{
  background-color: royalblue;
  width: 250px;
  height: 250px;
  border-radius: 20%;
}

.section2{
  background-color: red;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box2{
  background-color: purple;
  width: 250px;
  height: 250px;
  border-radius: 20%;
}
.section3{
  background-color: pink;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box3{
  background-color: goldenrod;
  width: 250px;
  height: 250px;
  border-radius: 20%;
}
>>>>>>> ed13a2f29a80f1e3fc5979ca3f10c6c6cf4c5043
